PORT=5000
MONGODB_URI=MONGODB_URI=mongodb://rastogi_sajal_1915:s41LkFwjW0d6Huyz@ac-mbg3vah-shard-00-00.bjgd6mb.mongodb.net:27017,ac-mbg3vah-shard-00-01.bjgd6mb.mongodb.net:27017,ac-mbg3vah-shard-00-02.bjgd6mb.mongodb.net:27017/mockmate?replicaSet=atlas-bvoasb-shard-0&ssl=true&authSource=admin
JWT_SECRET=change_this_to_a_random_64char_string_in_production
GEMINI_API_KEY=AIzaSyCmFCbeqIDoWiNfOtPD80xE-FBKQgDqWyc
CORS_ORIGIN=http://localhost:5173
